
.image-container{
  display:flex;
  width: clamp(320px, 100%, 768px);
  gap:clamp(12px,4.53vw,32px);
}

.image-container img{
  width: 100%;
  object-fit:cover;
  height:auto;
}

.image-container img:nth-child(1){
  margin-left:-32px;

}
.image-container img:nth-child(2){
  margin-right:-32px;
}


h1{
  text-align: center;
  font:var(--textpreset-2);
  color:var(--slate-900);
}

#text-content{
  display: flex;
  flex-direction: column;
  gap:24px;

  p{
    text-align:center;
    font:var(--textpreset-4);
    color: var(--slate-600);
  }
}

#buttons{
  display: flex;
  flex-direction: column;
  gap:16px;
  justify-content: center;
  align-items: center;

}

app-btn{
}
