main{
  height:100%;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top:3rem;
}

#hero{
  overflow: hidden;

}
app-hero{
  display: flex;
  flex-direction: column;
  gap:48px;
}

#main-content{

  margin-bottom: 64px;
}
