main{
  height:100%;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top:3rem;
}

#hero{
  overflow: hidden;
  padding: 64px 35px 35px 32px;
}
app-hero{
  display: flex;
  flex-direction: column;
  gap:48px;
}

#main-content{
  padding:32px 32px 0 32px;
  margin-bottom: 64px;
}
